/* Aligning Items */
#services .items .item {
  display: flex;
  text-align: left;
  margin: auto;
}
/* Postioning Icons */
#services .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}
#contact .map {
  flex: 2;
}
